<!DOCTYPE html>
<html>
  <head>
    <title>MasakiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= link_to("ホームへ", "/home") %>
  <body>
    <%= yield %>
  </body>
</html>
